
@font-face {
    font-family: KumbhSans-Regular;
    src: url(fonts/Kumbh_Sans/KumbhSans-Regular.ttf);
}

* {
    font-family: KumbhSans-Regular, sans-serif;
}


/* NAVBAR */
.navbar-custom {
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: 700ms ease;
}

.navbar-custom.scrolled {
    background: black;
}

.navbar-toggler {
    border: none;
}

.navbar-nav a.nav-link:hover {
    color: grey !important;
}

.navbar-nav a.nav-link {
    color: white !important;
}

.navbar-nav a.nav-link.active {
    color: grey !important;
}

.navbar-brand img {
    width: 2em;
}



/* INTRO */

#introPage {
    height: 90vh;
    background-image: url("../images/background-image/landing-page-bg-dark.jpg");
    background-size: cover;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
}

.bi-chevron-down {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
    cursor: pointer;
}




/* ABOUT */

#about {
    height: auto;
}

#about .jumbotron-fluid {
    align-items: center;
}

#about h2 {
    margin-top: 3em;
}

.prof-pic {
    width: 10em;
}

.info {
    margin: 2em;
}

#about .container {
    margin-bottom: 6em;
}

.tldr {
    background: rgb(212, 212, 212);
}





/* EXPERIENCE */

#experience {
    background: rgb(212, 212, 212);
    height: auto;
}

#experience .jumbotron-fluid {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
}

#experience h2 {
    margin-top: 3em;
}

.tech-work {
    display: flex;
}

.techs {
    /*border: solid white;*/
    width: 60vw;
    height: 50vh;
    margin-top: 2em;
    margin-right: 5em;
    text-align: left;
}

.icon {
    width: 5em;
    margin: 1em;
}

.small-icon {
    width: 2em;
}

.work {
    display: inline-flex;
    flex-direction: column;
    /*border: solid white;*/
    width: 40vw;
    margin-top: 2em;
    align-items: center;
}

.work .icon {
    flex-wrap: wrap;
    width: 9em;
    margin: 1em;
}







/* PROJECTS */

#projects .jumbotron-fluid {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
}

#projects h2 {
    margin-top: 3em;
}

.project-work {
    margin-top: 2em;
    display: inline-flex;
    justify-content: center;
}

.card {
    width: 30em;
    margin: 0.5em;
} 

.profile {
    margin-bottom: 2em;
}






/* CONTACT */

#contact {
    background: rgb(212, 212, 212);
    height: auto;
}

#contact .jumbotron-fluid {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
    align-items: center;
}

#contact h2 {
    margin-top: 3em;
}

.cv {
    width: 10em;
}

#contact .icon {
    width: 8em;
}

.socials {
    width: auto;
}


/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    background: rgb(212, 212, 212);
    height: auto;
}

footer .btn {
    margin-top: 2em;
    margin-bottom: 2em;
}



/* MEDIA QUERIES */
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .navbar {
        background-color: black;
    }


    /* ABOUT */
    #about .container {
        margin-bottom: 2em;
    }


    /* EXPERIENCE */
    .tech-work {
        flex-direction: column;
    }

    .techs {
        width: 100%;
        height: auto;
        margin: 0;
        text-align: center;
    }

    .logos .icon {
        width: 4em;
    }

    .work {
        width: 100%;
        height: auto;
        margin-bottom: 2em;
    }

    /* CONTACT */

    #contact {
        height: auto;
    }

    #contact .info {
        margin: 1em;
    }

    #contact .icon {
        width: 3.5em;
        margin: 0.5em;
    }

    .socials {
        margin-top: 0;
    }

    footer .btn {
        margin-top: 0;
        margin-bottom: 0.5em;
    }
}
